---
import BaseLayout from '../layouts/BaseLayout.astro';
import CallToAction from '../components/CallToAction.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
import Pill from '../components/Pill.astro';
---

<BaseLayout 
	title="Vita | Alexander Günther" 
	description="Eine Übersicht über den Lebens- und Karriereweg von Alexander Günther | Vita & Kurzvita">
	<div class="wrapper stack gap-20">
		<header class="hero">
			<Hero
				title="Vita"
				tagline="Hier finden Sie eine Übersicht über meinen Lebens- und Karriereweg."
				align='start'
			/>
			<div class="roles" style="">
				<CallToAction  href="#cv">
					Curriculum Vitae
					<Icon icon="arrow-right" size="1.2em" />
				</CallToAction>
				<CallToAction  href="#medien">
					Medien
					<Icon icon="arrow-right" size="1.2em" />
				</CallToAction>
				<CallToAction  href="#presse">
					Presse
					<Icon icon="arrow-right" size="1.2em" />
				</CallToAction>
				</div>
		
		</header>
		<main class="stack gap-20">
			<setion class="bg-variant">
				<div class="content">
					<p>
						In Magdeburg wurde ich als Kind einer Opernsängerin und eines Komponisten geboren und wuchs in Lutherstadt Wittenberg auf. Ich erhielt Klavierunterricht und bereits während meiner Schulzeit war ich als Extrachor- Mitglied und Statist am Theater tätig. Von 1986 bis 1992 studierte ich Gesang an der Hochschule für Musik „Franz Liszt“ in Weimar bei Prof. Hans Kremers und erhielt am dortigen Deutschen Nationaltheater auch gleich mein erstes Engagement. Seither bin ich mit diesem Haus eng verbunden und habe dort inzwischen mehr als 100 Partien in Oper, Operette, Musical und Konzert gesungen. Zunächst war ich fast 20 Jahre als Bariton in Partien wie der Figaro in „Il barbiere di Seviglia“ von Rossini, Graf Almaviva in Mozarts „Die Hochzeit des Figaro“, Faninal in Strauss' „Rosenkavalier“, Papageno in „Die Zauberflöte“, Graf Luna in Verdis „Il Trovatore“, Valentin in Gounods „Margarethe“ sowie Tonio in Leoncavallos „Il Pagliacci“ zu sehen und zu hören.
Aus Puccinis Opern sang ich bereits Marcello in „La Bohéme“, Gianni Schicchi, Ping in „Turandot“ und Scarpia in „Tosca“. Im Weimarer Ring sang ich den Donner im „Rheingold“ und den Gunther in der „Götterdämmerung“. Davon ist bei ARTHAUS MUSIK eine DVD Produktion im Handel erhältlich. Während dieser Zeit nahm ich Unterricht bei Frau Prof. Helga Forner und Frau Anna Reynolds.
					</p>
					<p>
						2011 entschloss ich mich zu einem Fachwechsel und singe nun im Fach des Charakter- Tenors. Dabei wurde ich von Frau Ks. Renate Behle begleitet. Inzwischen habe ich auch in diesem Fach eine ganze Palette an Partien erarbeitet - so u.a. Agrippa von Nettesheim in Prokofjews „Der feurige Engel“, Max im „Freischütz“, den alten Faust in Gounods „Faust“, Bardolfo in Verdis „Falstaff“, Knusperhexe in „Hänsel und Gretel“, Max in „Jonny spielt auf“ und den Wirt und Valzacchi in „Der Rosenkavallier“ von Richard Strauss. Ich gastierte als Sergej in Schostakowitschs „Lady Macbeth von Mzensk“ am Theater in Bremerhaven, als Schmidt in Massenets „Werther" am Landestheater Altenburg und als Falsacappa in „Die Banditen“ von Jaques Offenbach am Theater Nordhausen und an der Staatsoperette Dresden und als Hexe in Görlitz und Halle.
					</p>
					<p>
						Im Dezember 2013 ist eine Gesamtaufnahme von Humperdincks „Hänsel und Gretel“ mit der Staatskapelle Weimar mit mir als Hexe bei Dabringhaus und Grimm erschienen.
					</p>
					<p>In dieser Spielzeit  habe ich neu in mein Repertoire den Herodes in Strauss´ „Salomé“ aufgenommen und werde in einer neuen Inszenierung die Knusperhexe in „Hänsel und Gretel“ singen. Wieder aufgenommen aus der vergangenen Spielzeit werde ich Professor Henry Higgins, den Zauberer Petrosilius Zwackelmann und die Oberschwester Mylendonk in Thomas Manns „Zauberberg“ verkörpern.</p>

					<p>
						Ebenso arbeite ich gerne als Sprecher und Moderator. So moderierte ich unter anderem den Opernball am DNT 2008, die „Spanische Nacht“ der Staatskapelle Weimar im Weimarhallenpark vor ca. 3000 Zuschauern im Jahre 2010 und 2013 die Festveranstaltung „60 Jahre Jugend musiziert“ des Landes Thüringen in der Erfurter Oper. Regelmäßig trete ich als Erzähler mit der Staatskapelle Weimar auf - so bereits dreimal als Pino in den Naftule- Kinderkonzerten von Helmut Eisel, als Sprecher in „Peter und der Wolf“ und „Paddington- Bärs erstes Konzert“.
					</p>
					<p>
						Im März 2005 sang ich die deutsche Erstaufführung von Kurt Weills „The Firebrand of Florence“ mit dem MDR zum Kurt-Weill-Fest in Dessau und war 2007 bei den Aufführungen des Oratoriums „Die Legende von der heiligen Elisabeth“ von Franz Liszt mit der Staatskappelle Weimar unter den Mitwirkenden. Davon ist bei cpo eine CD erschienen. Im September 2013 wirkte ich beim Kunstfest Weimar bei einem Projekt „Milchstrom, Fragebett, Gralsmaschinen - ein Lohengrin-Gelände“ unter der Leitung von Georg Nussbaumer mit.					</p>
					<p>
						Für die Interpretation der Titelpartie von Henzes "Der Prinz von Homburg" in der Inszenierung von Erhard Warneke wurde ich von der Zeitschrift "Die Opernwelt" zum Sänger des Jahres nominiert.					</p>
					<p>
						Für die Partie des Ottokar in „Der Freischütz“ erhielt ich den Orpheus- Preis der „Oper in der Stiftsruine“ Bad Hersfeld.					</p>
				</div>
			</section>
			
			<section>
				<div id="cv" style="padding-top: 10rem;"></div>
				<section class="section with-background with-cta">
					<header class="section-header stack gap-2 lg:gap-4">
						<h3>Curriculum Vitae</h3>
						<p>Sehen Sie sich gerne meinen vollständigen Lebenslauf (CV) als pdf Datei an.</p>
					</header>
					<div>
						<CallToAction href="/assets/VitaNov2007.pdf">
							Lebenslauf ansehen<Icon icon="file-pdf" size="1.2em" />
						</CallToAction>
						
					</div>
					
				</section>
				<div id="medien" style="padding-top: 5rem;"></div>
				<section class="with-background">
					<h3>Medien</h3>
					<br>
					<p>Eine Übersicht meiner Veröffentlichungen:</p>
					<br>
					<ul>
						<li>„Die Kommödie auf der Brücke“(MDR- Mitschnitt)</li>
						<li>„Die Legende der heiligen Elisabeth“ (CD cpo, 2007)</li>
						<li>„Der Ring des Nibeleungen“ (DVD ARTHAUS MUSIK, 2009)</li>
						<li>„Jonny spielt auf“  (Mitschnitt MDR- Kultur)</li>
						<li>„Lanzelot“  (Mitschnitt MDR- Kultur  und CD)</li>
						<li>„Hänsel und Gretel“ (CD DG, 2013)</li>
					</ul>
					
										
				</section>
				<div id="presse" style="padding-top: 5rem;"></div>
				<section class="bg-variant">
					<h3>Presse</h3>
					<br>
					<p>zu „Salome“</p>
					<br>
					<ul class="presse">
						<li>Der (über und über mit Juwelen und Glimmer dekorierte, überschminkte, wie ein göttlicher Zirkusdirektor daherkommende) Herodes von Alexander Günther, Urgestein im Weimarer Ensemble, fasziniert mit seinem wortverständlichen, charakterstarken Tenor. <br><b>Neue Musikzeitung, 16.09.2024</b></li>
						<li>Musikalisch beeindruckten vor allem Alexander Günther als Herodes mit außergewöhnlicher Stimmpräsenz im Singen und Sprechen sowie ausdrucksvollem Spiel….<br><b>Das Opernglas 11/24</b></li>
						<li>Der Herodes von Alexander Güntherverzichtet (ebenso) auf alle Manirismen….Der Sänger beherrscht das von ihm geforderte Stimmspektrum ausgezeichnet. Zudem versteht man nahezu jedes Wort!<br><b>Der neue Merker 12/24</b></li>
						
					</ul>
					
										
				</section>
			</section>
			
			
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	.presse > li {
		margin-bottom: 1rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content p {
		margin-bottom: 1em;
		margin-top: 2em;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}

	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}

	.roles {
		display: flex; 
		flex-direction: column; 
		gap: 1rem; 
		justify-content: center; 
		align-items: center;
	}

	.hero img {
		aspect-ratio: 5 / 4;
		object-fit: cover;
		object-position: top;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
		border: 5px solid white;
	}

	@media (min-width: 50em) {

		main {
		padding-inline: 2.5rem;
	}
		.hero {
			display: grid;
			grid-template-columns: 6fr 4fr;
			padding-inline: 2.5rem;
			gap: 3.75rem;
		}

		.roles {
			margin-top: 0.5rem;
			display: flex;
			flex-direction: column; 
			gap: 1rem; 
			justify-content: start; 
			align-items: start;
		}

		.hero img {
			aspect-ratio: 3 / 4;
			border-radius: 4.5rem;
			object-fit: cover;
		}
	}

	/* ====================================================== */

	.section {
		display: grid;
		gap: 2rem;
	}

	.with-background {
		position: relative;
	}

	.with-background::before {
		--hero-bg: var(--bg-image-subtle-2);

		content: '';
		position: absolute;
		pointer-events: none;
		left: 50%;
		width: 100vw;
		aspect-ratio: calc(2.25 / var(--bg-scale));
		top: 0;
		transform: translateY(-75%) translateX(-50%);
		background:
			url('/assets/backgrounds/noise.png') top center/220px repeat,
			var(--hero-bg) center center / var(--bg-gradient-size) no-repeat,
			var(--gray-999);
		background-blend-mode: overlay, normal, normal, normal;
		mix-blend-mode: var(--bg-blend-mode);
		z-index: -1;
	}

	.with-background.bg-variant::before {
		--hero-bg: var(--bg-image-subtle-1);
	}

	.section-header {
		justify-self: center;
		text-align: center;
		max-width: 50ch;
		font-size: var(--text-md);
		color: var(--gray-300);
	}

	.section-header h3 {
		font-size: var(--text-2xl);
	}

	@media (min-width: 50em) {
		.section {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: 'header header header header' 'gallery gallery gallery gallery';
			gap: 5rem;
		}

		.section.with-cta {
			grid-template-areas: 'header header header cta' 'gallery gallery gallery gallery';
		}

		.section-header {
			grid-area: header;
			font-size: var(--text-lg);
		}

		.section-header h3 {
			font-size: var(--text-4xl);
		}

		.with-cta .section-header {
			justify-self: flex-start;
			text-align: left;
		}

		.gallery {
			grid-area: gallery;
		}

		.cta {
			grid-area: cta;
		}
	}

	/* ====================================================== */

	.mention-card {
		display: flex;
		height: 7rem;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid var(--gray-800);
		border-radius: 1.5rem;
		color: var(--gray-300);
		background: var(--gradient-subtle);
		box-shadow: var(--shadow-sm);
	}

	@media (min-width: 50em) {
		.mention-card {
			border-radius: 1.5rem;
			height: 9.5rem;
		}
	}

	.container {
		margin-top: 2rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 75%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
		border-radius: 1rem;
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}


</style>
