---
import '../styles/global.css';
import { ClientRouter } from "astro:transitions";

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const {
	title = 'Alexander Günther | Persönliche Website',
	description = 'Persönliche Website von Alexander Günther: Repertoire, Vita, Termine und Kontakt.',
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>
<ClientRouter />

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
